<!DOCTYPE html>

<html>

<head>
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/cartstyle.css">
	<title>Fumoland - Carrinho</title>
	<script defer src="/js/script.js"></script>
	<script defer src="/js/cart.js"></script>
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,700&display=swap" rel="stylesheet">
	<base target="_top">
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css" />
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""> 
	 <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>
	 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" />
	<link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
	<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
	<script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
</head>

<body>
	<%- include('header') %>

	<main>
		<p class="Cart_Title">Carrinho</p>
		<div class="First">Item</div>
		<div class="Second">Preço</div>
		<div class="Third">Quantidade</div>
		<div class="Fourth">Preço total</div>
        <ul class="Cart_List" id="cart_list">
			
		</ul>

        <div id="total_price" class="Price">Preço da compra: R$ </div>
		<button id="Purchase">Comprar</button>
		<div id="map" class="map leaflet-container leaflet-touch leaflet-fade-anim leaflet-grab leaflet-touch-drag leaflet-touch-zoom" style="width: 600px; height: 400px; position: relative;" tabindex="0"></div>
	</main>
</body>

</html>
