<!DOCTYPE html>

<html>

<head>
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/cartstyle.css">
	<title>Fumoland - Carrinho</title>
	<script defer src="/js/script.js"></script>
	<script defer src="/js/cart.js"></script>
</head>

<body>
	<%- include('header') %>

	<main>
		<p class="Cart_Title">Carrinho</p>
		<div class="First">Item</div>
		<div class="Second">Preço</div>
		<div class="Third">Quantidade</div>
		<div class="Fourth">Preço total</div>
        <ul class="Cart_List" id="cart_list">
			
		</ul>

        <div id="total_price" class="Price">Preço da compra: R$ </div>
		<button id="Purchase">Comprar</button>
	</main>
</body>

</html>
