<!DOCTYPE html>
<!--
	Essa pagina também sera renderizado pelo ejs, portanto
	products será o array contendo os produtos, e funcionara como o product, porém sendo um array
	então vc acessara o primeiro elemento usando products[0].price
-->
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/css/style.css">
    <script defer src="/js/script.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Fumoland - Categorias</title>
</head>

<body>
    <%- include('header') %>
	<main>
		<div class="list_of_categories">
            <% for (category of categories) { %>
            <p> <a href="categories/<%= category.name %>"> <%= category.name %> </a> </p>
            <% } %>
        </div>

		</div>
	</main>
</body>

</html>