<div hidden class="create_user_container" id="create_user_container">
	<button class="close_button" onclick="close_create_user();">
		<img src="/imgs/cross-svgrepo-com.svg" width="20rem" height="20rem" alt="">
	</button>
	<div class="create_user" id="create_user">
		Nome <br>
		<input type="text" name="" id="notUserName"> <br>
		Email <br>
		<input type="email" name="" id="userEmail"> <br>
		Senha <br>
		<input type="password" name="" id="userPassword"> <br>
		<input type="button" value="Submit" onclick="createUser()">
	</div>
</div>