<div class="shadow" hidden id="shadow"></div>
<header>
    <div class="initial_header">
        <div id="user" class="option" onmouseenter="showUserOptions()" onmouseleave="hideUserOptions()">
            Usuário
            <ul hidden id="user_list" class="user_list">
                <a href="/signup" class="headerlink"><li class="user_option" >Criar conta</li> </a>
                <a href="/login" class="headerlink"> <li class="user_option">Logar</li> </a>
            </ul>
        </div>
        <a href="/" class="headerlink">
            <div class="option">
                Home
            </div>
        </a>
        <a href="/categories" class="headerlink">
            <div class="option">
                Categorias
            </div>
        </a>
        <a href="/products" class="headerlink">
            <div class="option">
                Produtos
            </div>
        </a>
        <a href="/cart" class="headerlink">
            <div class="option carrinho">
                Carro
            </div>
        </a>
    </div>
</header>
