<div class="shadow" hidden id="shadow"></div>
<header>
    <div class="initial_header">
        <div id="user" class="option" onmouseenter="showUserOptions()" onmouseleave="hideUserOptions()">
            Usuário
            <ul hidden id="user_list" class="user_list">
                <li class="user_option" onclick="showCreateUser()">Criar conta</li>
                <li class="user_option">Logar</li>
            </ul>
        </div>
        <div class="option">
            <a class="headerlink" href="/">Home</a>
        </div>
        <div class="option">
            <a class="headerlink" href="/categories"> Categorias </a>
        </div>
        <div class="option">
            <a href="/products" class="headerlink">Produtos</a>
        </div>
        <div class="option carrinho">
            <a href="/cart" class="headerlink">Carrinho</a>
        </div>
    </div>
</header>