<!DOCTYPE html>

<html>

<head>
	<title>Fumoland</title>
	<link rel="stylesheet" href="/css/style.css">
	<script defer src="/js/script.js"></script>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,700&display=swap" rel="stylesheet">	
</head>

<body>
	<%- include('header') %>
		<main>
			<div class="welcome">Bem vindo a nossa loja.</div>
			<div class="list_of_products">
				<!-- Como um produto sera estruturado -->
				<% if (products.length >= 2) { %>
					<% for( let index=0; index < 5; index++ ) { %>
						<div class="product">
							<img class="product_image" src="/imgs/<%= products[index].img_path %>" alt="">
							<div class="product_name">
								<%= products[index].name %>
							</div>
							<div class="product_categories">
								<div class="product_category">Test</div>
								<div class="product_category">Test</div>
							</div>

							<div class="product_price">R$<%= Number(products[index].price).toFixed(2) %>
							</div>
						</div>
						<% } %>
					<% } %>

			</div>
		</main>
</body>

</html>