<!DOCTYPE html>

<html>

<head>
	<link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/login.css">
    <script src="/js/script.js"></script>
</head>

<body>
	<main>
        <div class="loginframe">
            <table class="logintable">
                <tr>
                    <td class="logincol">
                        
                    </td>
                </tr>
                <tr>
                    <td>
                        <img class="loginlogo" src="/imgs/icon.png">
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="Text1">
                            Fazer login.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="Text2">
                            Email:
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input id="userEmail" class="loginemail" type="email" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="Text2">
                            Senha:
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input id="userPassword" class="loginemail" type="password" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input onclick="loginUser()" class="loginconfirm" type="button" value="Confirmar">
                    </td>
                </tr>
                <tr>
                    <td>
                        <form>
                            <div class="newline"></div>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="/signup" class="newaccount headerlink">Criar uma conta</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form>
                            <div class="newline"></div>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
	</main>
</body>
