<!DOCTYPE html>

<html>

<head>
	<link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/login.css">
    <script src="/js/script.js"></script>
</head>

<body>
	<main>
        <div class="loginframe">
            <table class="logintable">
                <tr>
                    <td class="logincol">
                        
                    </td>
                </tr>
                <tr>
                    <td>
                        <img class="loginlogo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSlkEmzDAMBiRg_SNM7QmQaGFA0CzF202gJ6g&usqp=CAU">
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="Text1">
                            Fazer login.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="Text2">
                            Email:
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input class="loginemail" type="email" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="Text2">
                            Senha:
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input class="loginemail" type="password" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input class="loginconfirm" type="button" value="Confirmar">
                    </td>
                </tr>
                <tr>
                    <td>
                        <form>
                            <div class="newline"></div>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a class="newaccount">Criar uma conta</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form>
                            <div class="newline"></div>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
	</main>
</body>
