<!DOCTYPE html>

<html>

<head>
	<link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/login.css">
    <script defer src="/js/script.js"></script>
    <script defer src="/js/sign.js"></script>
</head>

<body>
	<main>
        <div class="loginframe">
            <table class="logintable">
                <tr>
                    <td class="logincol">
                        
                    </td>
                </tr>
                <tr>
                    <td>
                        <img class="loginlogo" src="/imgs/icon.png">
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="Text1">
                            Fazer cadastro.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="Text2">
                            Email:
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form id="myForm" method="post" action="/user">
                            <input id="userEmail" class="loginemail" type="email" name="email" required>
                        
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="Text2">
                            Senha:
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        
                            <input id="userPassword" class="loginemail" name="password" type="password" required>
                        
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="Text2">
                            Username:
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        
                            <input id="notUserName" name="username" class="loginemail" type="text" required>
                        
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="Text2">
                            Nome:
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        
                            <input class="loginemail" name="name" type="text" required>
                        
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="Text2">
                            Gênero:
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="loginradio">
                            <input name="gender" type="radio">Masculino
                            <input name="gender" type="radio">Feminino
                            <input name="gender" type="radio">Outro
                       </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="Text2">
                            Telefone:
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                       
                            <input class="loginemail" type="tel" placeholder = "(99) 9999-9999" pattern = "(\([0-9]{2}\))\s([9]{1})?([0-9]{4})-([0-9]{4})" required>
                       
                    </td>
                </tr>
                <tr>
                    <td>
                        
                            <input class="loginconfirm" type="submit" value="Confirmar">
                        
                    </td>
                </tr>
                <tr>
                    <td>
                        
                            <div class="newline"></div>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
	</main>
</body>

</html>