<!DOCTYPE html>

<html>

<head>
	<link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/login.css">
    <script src="/js/script.js"></script>
</head>

<body>
	<main>
        <div class="loginframe">
            <table class="logintable">
                <tr>
                    <td class="logincol">
                        
                    </td>
                </tr>
                <tr>
                    <td>
                        <img class="loginlogo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSlkEmzDAMBiRg_SNM7QmQaGFA0CzF202gJ6g&usqp=CAU">
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="Text1">
                            Fazer cadastro.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="Text2">
                            Email:
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form>
                            <input id="userEmail" class="loginemail" type="email" required>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="Text2">
                            Senha:
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form>
                            <input id="userPassword" class="loginemail" type="password" required>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="Text2">
                            Username:
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form>
                            <input id="notUserName" class="loginemail" type="text" required>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="Text2">
                            Nome:
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form>
                            <input class="loginemail" type="text" required>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="Text2">
                            Gênero:
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form class="loginradio" required>
                            <input type="radio">Masculino
                            <input type="radio">Feminino
                            <input type="radio">Outro
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="Text2">
                            Telefone:
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form>
                            <input class="loginemail" type="tel" placeholder = "12-34-567891011" pattern = "[0-9]{2}-[0-9]{2}-[0-9]{5}-[0-9]{4}" required>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form>
                            <input class="loginconfirm" type="button" value="Confirmar" onclick="createUser()">
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form>
                            <div class="newline"></div>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
	</main>
</body>

</html>