.Cart_Title {
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
    width: auto;
    margin: 0rem 0rem;
}

.First {
    float: left;
    margin: 0rem 0rem 0rem 19.7rem;
}

.Second {
    float: left;
    margin: 0rem 0rem 0rem 23.5rem;
}

.Third {
    float: left;
    margin: 0rem 0rem 0rem 10rem;
}

.Fourth {
    float: none;
    margin: 0rem 0rem 0rem 68rem;
}

.Cart_List {
    width: 60rem;
    height: 34rem;
    margin: 0rem 0rem 0rem 13rem;
    max-height: 34rem;
    overflow: auto;
    list-style: none;
    float:none;
    /*background-color: red;*/
}

.Cart_List::-webkit-scrollbar {
    display: none;
}

.Cart_Product {
    border-style: solid;
    border-left: 2px;
    border-right: 2px;
    border-color: rgb(160, 12, 201);
    height: 8.4rem;
}

.Img {
    width: auto;
    height: 8rem;
    margin-left: 5rem;
}

.Product_Name {
    /*background-color: blue;*/
    width: 15rem;
    max-width: 15rem;
    overflow: scroll;
    height: 2rem;
    font-size: x-large;
    font-weight: bold;
    padding: 0rem 0rem 0rem 1rem;
}

.Product_Desc {
    /*background-color: purple;*/
    height: 4rem;
    max-height: 6rem;
    overflow-y: scroll;
    width: 15rem;
    padding: 0rem 0rem 0rem 1rem;
    vertical-align: top;
}

.Product_Name::-webkit-scrollbar {
    display: none;
}

.Product_Desc::-webkit-scrollbar {
    display: none;
}

.Product_Price {
    /*background-color: pink;*/
    width: 33rem;
}

.IndividualP {
    float: left;
    margin: 0rem 0rem 0rem 2rem;
}

.Quantidade {
    float: left;
    margin: 0rem 0rem 0rem 6rem;
}

.PrecoTotal {
    float: left;
    margin: -1.3rem 0rem 0rem 26rem;
}

.Price{
    position: absolute;
    margin: 1rem 0rem 0rem 17rem;
    font-size: x-large;
}

#Purchase{
    position: absolute;
    margin: 3rem 0rem 0rem 17rem;
    font-size: large;
    padding: 1.5rem 8rem;
    background-color: rgb(146, 10, 184);
    color: rgb(230, 230, 230);
    transition: background-color 0.15s ease-in 0ms;
}

#Purchase:hover{
    background-color: rgb(125, 9, 157);
}

.map {
	float: right;
}

@media (max-width: 700px)  {
	main {
		margin-right: 50rem;
	}
	header {
		width: 190%;
	}
	.option {
		padding-left: 5rem;
		padding-right: 5rem;
	}
}
