
.product {
	display: block;
	max-width: 15rem;
	margin-left: 60%;
	margin-top: 5%;
	background-color: white;
	padding: 4rem 4rem 2rem 4rem;
	word-wrap: break-word;
}

.product_name {
	overflow: visible;
	max-width: 15rem;
	margin-bottom: 15%;
	font-size: 3rem;
}

.product_price {
	overflow: auto;
	max-width: 15rem;
	margin-bottom: 15%;
	font-size: 3rem;
}

.product_desc {
	word-wrap: break-word;
	font-size: 1.5rem;
	overflow: auto;
	max-width: 15rem;
	margin-bottom: 10%;
	
}

.big {
	max-height: 20rem;
	height: 20rem;
	
}

html {
	background-color: #BFECFF;
	box-sizing: border-box;
}

.product_image {
	position: absolute;
	top: 18%;
	left: 1%;
	max-width: 30rem;
	max-height: 30rem;
}

.product_categories {
	max-width: 100%;
	text-align: center;
	color: blue;
}

.product_category {
	text-align: center;
	background-color: green;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	border-radius: 5rem;
	display: inline-block;
}

.add_to_cart {
	cursor: pointer;
	width: 15rem;
	background-color: red;
	float: right;
	height: 5rem;
	margin-top: 5%;
	margin-right: 15%;
	font-size: 1.7rem;
	text-align: center;
	vertical-align: text-bottom;
	line-height: 5rem;
}

@media (max-width: 1000px)  {
	.product {
		margin-top: 100%;
		margin-left: 25%;
	}
	
	.product_image {
		left: 15%;
	}
	
	.main {
		background-color: red;
	}
	.add_to_cart {
		cursor: pointer;
		float: none;
		margin-left: 35%;
	}
}

