.product_name {
    position: absolute;
	overflow: visible;
	max-width: 15rem;
    min-width: 15rem;
	margin: 5rem 0rem 0rem 52.5rem;
	font-size: 6rem;
}

.product_price {
	overflow: auto;
	max-width: 15rem;
	min-width: 15rem;
	margin: 17rem 0rem 0rem 51.5rem;
	position: absolute;
	font-size: 3rem;
}

.product_desc {
	word-wrap: break-word;
	font-size: 1.5rem;
	overflow: auto;
	max-width: 15rem;
	min-width: 15rem;
	margin: 21rem 0rem 0rem 53rem;
	position: absolute;
}

.score {
	position: absolute;
	background-color: yellow;
	padding: 2rem 10rem;
	margin: 11rem 0rem 0rem 52.75rem;
}

.big {
	max-height: 20rem;
	height: 20rem;
	
}


.product_image {
	position: absolute;
	margin: 5rem 0rem 0rem 25rem;
	max-width: 25rem;
    min-width: 25rem;
	max-height: 37.5rem;
    min-height: 37.5rem;
}

.product_categories {
	max-width: 100%;
	text-align: center;
	color: blue;
}

.product_category {
	text-align: center;
	background-color: green;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	border-radius: 5rem;
	display: inline-block;
}

.add_to_cart {
	cursor: pointer;
	max-width: 15rem;
	min-width: 15rem;
	background-color: rgb(146, 10, 184);
    color: rgb(230, 230, 230);
	max-height: 5rem;
	min-height: 5rem;
	font-size: 1.7rem;
	text-align: center;
	vertical-align: text-bottom;
	line-height: 5rem;
	position: absolute;
	margin: 37.5rem 0rem 0rem 53.5rem;
	transition: all 0.1s linear 0ms;
}

.favorites {
	position: absolute;
	margin: 30rem 0rem 0rem 55rem;
}

.add_to_cart:hover {
	background-color: rgb(178, 98, 200);
	color: black;
}

@media (max-width: 1000px)  {
	main {
		margin-right: 50rem;
	}
	header {
		width: 190%;
	}
	.option {
		padding-left: 5rem;
		padding-right: 5rem;
	}
}

.star {
	width: 5rem;
	height: 5rem;
	position: absolute;
	display: block;
	margin: 24rem 0rem 0rem 53rem;
}

.star:hover {
	filter: invert(94%) sepia(71%) saturate(5662%) hue-rotate(356deg) brightness(110%) contrast(102%);
}
